<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pandora CSS</title>
    <link rel="stylesheet" href="../dist/css/style_main.min.css">
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <h1>Pandora CSS, librería CSS</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis labore fuga, eveniet sint commodi, laboriosam maiores iusto natus delectus quos tenetur perferendis placeat, praesentium ducimus maxime eaque recusandae nobis! Ut!
        </p>

        <!-- Franjas -->
        <section>
            <article>

            </article>
        </section>
    </main>
    
    <footer>
        Autores
    </footer>

    <script src="../js/main.js"></script>
</body>
</html>